/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/


/* add your css here, feel free to use comments and order them logically for better readability */
:root {
   --background:  #f7f6f5;
   --color: #444444;
   --link-color: #756143
   --text-decoration: #756143;
   --link-hover: #a67c52
   --font-family: Impact, Haettenschweiler, 'segoe UI', sans-serif;

}
body {
display: grid;
grid-template-areas:
"header header"
"nav main"
"footer footer";
grid-template-columns: 220px 1fr;
grid-template-rows: 120px 1fr 60px; 
background-color: var(--background);
font-family: var(--font-family );
color: var(--color);
margin: 0;
}
header {
grid-area: header;
background-color: #dadad4;
margin: 0;
font-size: 2.4rem;
}
nav {
   grid-area: nav;
   background-color: f0f0f0;
   padding: 20px;
}
nav ul{
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

nav a{
   text-decoration: #756143;
   color: var(--link-color);
   font-weight: bold;
   padding: 5px;
   display: block;
}
nav a :hover {
   text-decoration: underline;
   color:  #444444;
}


main {
grid-area: main; 
padding: 20px;
}


footer {
grid-area: footer; 
background-color: #dadad4;
color: whitesmoke;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
border-top: 2px solid #756143;

}
